@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary: #193028;
    --sub-text: #2B2B2B;
    --base-white: #FFFFFF;
    --sec-white: #FBFBFB;
    --base-brown: #8A6240;
    --package-green: #4C6444;
    --package-cream: #F7F0E6;
    --ng-green: #26473C;
    --review-green: #143109;
    --grey-text: #838383;
    --black: #000000;
    --light-green: #B5BFA1;
    --foundation-orange: #EFE2DA;
    --opaque-green: #52a88a16;
    --landmark-green: #2D493f;
    --rating-gold: #EBBF11;
    --input-bg: #EAEAEA;
    --food-grey: #D7CBC4;
    --historic-brown: #8A6240;
    --forgot-green: #568575;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    font-size: 62.5%;
    font-family: "Hanken Grotesk", sans-serif;
}
.flex-box {
    display: flex;
}
.container {
    padding: 3rem;
    gap: 1;
    justify-content: space-between;
    height: 100vh;
}
.logo {
    padding: 1rem 2rem;
    color: var(--base-white);
    align-items: center;
}
.background {
    position: relative;
    width: 40%;
    background-color: #2D493F !important;
    background: url('../img/bg-form.png') center no-repeat;
    background-size: contain;
    border-radius: 1rem;
    flex-direction: column;
}
.background .img {
    align-self: center;
    text-align: center;
    z-index: 2;
    width: 80%;
    margin-top: 20%;
}
.background .hanger {
    position: absolute;
    align-self: center;
    background-color: #fff;
    height: 40%;
    transform: rotate(7deg);
    width: 0.4rem;
    top: -1%;
    right:40%;
    z-index: 1;
}
.background .img img {
    width: 100%;
}
.form-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
form {
    width: 80%;
    flex-direction: column;
}
.form-side {
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
}
.input {
    height: 75%;
}

form button {
    align-self: center;
    width: 80%;
    color: var(--base-white);
    padding: 1rem;
    border: none;
    margin-top: 4rem;
    background-color: var(--ng-green);
    border-radius: 2rem;
}
.form-side .title {
    align-self: center;
    text-align: center;
    padding: 2rem;
}
.remember {
    margin-left: 1rem;
    justify-content: space-between;
}
.remember .forgot-text {
    color: var(--forgot-green);
    font-weight: 500;
}
 .remember-text {
    padding-left: 1rem;
    font-weight: 500;
}

.form-side .input form input[type="email"],
.form-side .input form input[type="password"] {
    border: none;
    padding: 0.3rem 1rem;
    margin: 1rem;
    border-bottom: 0.1rem solid #838383;
    width: 100%;
}
.form-side .input form input[type="email"]:focus,
.form-side .input form input[type="password"]:focus {
    border: none;
    margin: 1rem;
    border-bottom: 0.1rem solid #838383;
}
form input::placeholder {
    font-style: italic;
    font-size: 1.178125rem;
    font-family: "Hanken Grotesk", sans-serif;
}
form input[type="password"] {
    background: url(../img/view-pass.svg) no-repeat right;
    background-size: 3%;
}
form button {
    cursor: pointer;
}
.separator {
    width: 80%;
    align-items: center;
}
.separator .hr {
    width: 41%;
}
.separator .hr-text {
    padding: 0 1rem;
}
.socials {
    margin-top: -3rem;
}
.socials div {
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 100%;
    background-color: var(--input-bg);
    margin-right: 1rem ;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.socials div:hover {
    cursor: pointer;
}
.action {
    margin-top: -3rem;
}