* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: yellow; */
}


/* MAIN SECTION STYLING */
main {
    width: 95%;
    margin: 0 auto;
}
.nav-one {
    width: 95%;
    margin: 3% 0 5%;
}

.nav-two {
    width: 35%;
    margin: 5% 2%;
}


/* MAIN TRIPS SECTION STYLING */
#my-trips-main {
    width: 65%;
    margin: 1% auto 7%;
    padding: 2% 1.7% 5%;
}

#my-trips-main .btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 2% 0 4%;
}
