* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", serif;
    /* background-color: yellow; */
}


/* HEADER STYLING */
#nav-bar {
    padding: 2% 2% 2% 0.9%;
    border-radius: 50px;
    z-index: 3;
    width: 85%;
    margin: 5% auto;
    height: 3.9rem;
    background-color: white;
    color: #2B2B2B;
    position: absolute;
    left: 7.5%;
    display: flex;
    align-items: center;
    position: fixed;
}

#nav-bar img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 2.2rem;
    margin: 0 2%;
    border-radius: 20px;
}

#nav-bar .logo p {
    position: relative;
    top: 0.6rem;
    font-size: 0.75rem;
}

#nav-bar ul a {
    width: 20%;
    text-decoration: none;
    position: relative;
    padding: 1.5%;
    font-size: 1.05rem;
}

.a-plan-trip {
    padding: 2% 6% 2% 4%;
    border-radius: 30px;
    background-color: #193028;
    color: white;
    position: relative;
    right: -3.8%;
    font-size: 1.1rem;
}
