* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", serif;
    /* background-color: yellow; */
}


/* HEADER STYLING */
header ul li a {
    font-size: 1.4rem;
}

.a-plan-trip {
    padding: 2.3% 5% 2.3% 3.5%;
    border-radius: 30px;
    font-size: 1.59rem;
    background-color: #193028;
    color: white;
    position: relative;
    right: -3.8%;
}

#nav-bar .logo p {
    position: relative;
    top: 1rem;
    font-size: 1rem;
}

header img {
    width: 100%;
    height: 30rem;
}

header .overlay {
    width: 100%;
    height: 30rem;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
}

header h1 {
    font-size: 4rem;
    color: white;
    position: absolute;
    top: 60%;
    right: 5.5%;
}

/* MAIN STYLING */
.active {
    position: relative;
    right: 9rem;
}


/* TRADITIONAL FESTIVALS SECTION STYLING */
#traditional-festivals .festivals-img img {
    width: 99%;
    height: 20rem;
    margin: 4% 0;
}

/* ARTS AND CULTURE SECTION STYLING */
.tab-remove {
    display: none;
}
