* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", serif;
    /* background-color: yellow; */
}


/* HEADER SECTION STYLING */
#nav-bar {
  width: 78%;
  padding: 2% 2% 2% 1%;
  left: 13%;
}

a {
  font-size: 1.6rem;
}

#nav-bar .logo p {
  position: relative;
  top: 1.12rem;
  font-size: 1.3rem;
}

.a-plan-trip {
  padding: 2% 7% 2% 4.5%;
  border-radius: 30px;
  font-size: 1.79rem;
  background-color: #193028;
  color: white;
  position: relative;
  right: -4.2%;
}

/* MAIN STYLING */
main {
    width: 92%;
    margin: 0 auto 5%;
}

.nav-one {
    width: 75%;
    margin: 3% 0;
}

.nav-two {
    width: 32%;
    margin: 3% 1.2% 5%;
}
