* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", serif;
}

html {
    font-size: 62.5%;
}


/* HEADER STYLING */
/* HEADER STYLING */
.fa-bars {
    display: block;
}

.mobile-nav {
    height: 6.3rem;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 2% 1%;
    background-color: #2d483f;
    color: white;
    display: flex;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    display: none;
    position: fixed;
}

.mobile-logo {
    display: flex;
    color: white;
}

.mobile-logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 2%;
}

.mobile-logo p {
    color: white;
    width: 20%;
    position: relative;
    top: 1.1rem;
    left: -5rem;
    font-size: 1.2rem;
}

header .fa-xmark {
    display: none;
}



#nav-bar {
    padding: 2.5% 2.5% 2.5% 3%;
    border-radius: 50px;
    z-index: 3;
    width: 70%;
    margin: -7.8% auto;
    height: 6rem;
    background-color: white;
    color: #2B2B2B;
    position: absolute;
    left: 15%;
    display: flex;
    align-items: center;
    position: fixed;
  }

  #nav-bar a {
    text-decoration: none;
  }

  #nav-bar img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 4rem;
    margin: 0 2%;
    border-radius: 20px;
  }

  #nav-bar li a {
    font-size: 1.8rem;
  }

  #nav-bar .logo {
    width: 20%;
    display: flex;
  }

  #nav-bar .logo p {
    position: relative;
    top: 1.2rem;
    font-size: 1.4rem;
  }

  #nav-bar ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #nav-bar ul li {
    list-style-type: none;
  }

#nav-bar ul a {
    width: 20%;
    text-decoration: none;
    position: relative;
    padding: 1.5%;
    color: #2B2B2B;
}

#nav-bar ul a:hover {
    color: #2D493f;
    border-bottom: 3px solid #2D493f;
}

.a-plan-trip {
    font-size: 2rem;
    padding: 1.7% 6% 1.8% 4%;
    border-radius: 30px;
    background-color: #193028;
    color: white;
    position: relative;
    right: -6%;
}

header {
    background-color: #2d483f;
    width: 100%;
    height: 50rem;
    color: #ffffff;
    margin: 0 auto 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12.5% 0 0;
    color: white;
    font-family: "Old Standard TT", serif;
}

header h1 {
    font-size: 6rem;
    font-weight: 500;
    color: white;
    font-family: "Old Standard TT", serif;
}

header h2 {
    font-size: 2.2rem;
    font-weight: 300;
    margin: 1.5% 0;
    color: white;
    font-family: "Old Standard TT", serif;
}


/* MAIN STYLING */
nav {
    margin: 0 6% 3%;
    width: 67%;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    padding: 1.5% 2%;
}

nav a {
    text-decoration: none;
    font-size: 1.9rem;
    color: #2B2B2B;
}

nav .inactive a:hover, .inactive:hover {
    background-color: #2d483f;
    color: white;
    border-radius: 30px;
}

.active a, .active {
    background-color: #2d483f;
    color: white;
    border-radius: 30px;
}


/* CONSIDER SECTION STYLING */
#consider {
    margin: 0 7%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.consider-txt {
    margin: 4% auto;
    text-align: center;
    width: 60%;
}


.consider-txt h2 {
    font-size: 3.5rem;
    margin: 2% auto;
}

.consider-txt p {
    font-size: 1.8rem;
}


/* TIPS SECTION STYLING */
#tips {
    /* color: white; */
    margin: -19% 7% -17% 9%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#tips h3 {
    font-size: 2.5rem;
    margin: 4%;
}

#tips p, #tips li {
    font-size: 1.8rem;
}

#tips li {
    list-style-type: none;
}

#tips .tips-a {
    /* width: 70%; */
    display: flex;
    justify-content: space-between;
}

.poly-a {
    position: relative;
    right: -5rem;
}

.poly-a-txt {
    color: white;
    width: 65%;
    position: absolute;
    top: 38%;
    right: 18%;
}

.poly-b {
    position: relative;
}

.poly-b-txt {
    color: white;
    width: 65%;
    position: absolute;
    top: 43%;
    right: 16%;
}

.poly-c {
    position: relative;
    right: 5rem;
}

.poly-c-txt {
    color: white;
    width: 65%;
    position: absolute;
    top: 38%;
    right: 16%;
}

#tips .tips-b {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 1%;
    top: -37rem;
}

.poly-d {
    position: relative;
    right: -3.2rem;
}

.poly-d-txt {
    position: absolute;
    color: white;
    width: 65%;
    position: absolute;
    top: 41%;
    right: 18%;
}

.poly-e {
    position: relative;
    right: 0.5rem;
}

.poly-e-txt {
    position: absolute;
    color: white;
    width: 65%;
    position: absolute;
    top: 39%;
    right: 17%;
}

.tips-c {
    margin: -73rem auto -15%;
}

.poly-f {
    position: relative;
    right: -1%;
}

.poly-f-txt {
    position: absolute;
    color: white;
    width: 65%;
    position: absolute;
    top: 37%;
    right: 15%;
}

#tips .tips-a .brown::before {
    content: "\2B22";
    color: #8a623f;
    font-size: 52rem;
}

#tips .tips-a .darkgreen::before {
    content: "\2B22";
    color: #193028;
    font-size: 52rem;
}

#tips .tips-a .lightgreen::before {
    content: "\2B22";
    color: #326d59;
    font-size: 52rem;
}

#tips .poly-e::before {
    content: "\2B22";
    color: #193028;
    font-size: 52rem;
}

#tips .poly-f::before, #tips .poly-d::before {
    content: "\2B22";
    color: #8a623f;
    font-size: 52rem;
}

#tips-img {
    position: relative;
    top: -32rem;
    right: 40rem;
}


/* SECURITY SECTION STYLING */
#security {
    display: flex;
    justify-content: space-between;
    background-color: #8a623f;
}

#security .security-txt {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    border-left: 1px dashed white;
}

.security-txt-a, .security-txt-b, .security-txt-c {
    width: 80%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    padding: 4%;
    text-align: left;
    border-radius: 10px;
}

#security h3 {
    font-size: 2rem;
    margin: 2% 0;
}

#security p {
    font-size: 1.5rem;
}

.first-security-img {
    width: 88%;
    height: 40rem;
}

.second-security-img {
    margin: 3% 5% 0;
}
