* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", serif;
    /* background-color: yellow; */
}

/* HEADER STYLING */
/* HEADER STYLING */
.mobile-nav {
    display: block;
}

.fa-bars {
    display: block;
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    color: white;
    font-size: 2.8rem;
    z-index: 3;
}

.fa-bars:hover {
    cursor: pointer;
}

/* #nav-bar {
    display: none;
} */

#nav-bar {
    display: flex;
    flex-direction: column;
}



#nav-bar ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header ul li a {
    font-size: 1.8rem;
    color: white;
}


header ul li {
    margin: 2% auto;
    color: white;
}

#nav-bar {
    padding: 2% 2% 2% 3%;
    border-radius: 0;
    z-index: 3;
    width: 100%;
    margin: 4% auto;
    height: 26rem;
    background-color: #2d483f;
    color: white;
    position: absolute;
    left: 0;
    top: 2rem;
    display: none;
}

#nav-bar.show {
    display: flex;
    width: 100%;
}


.a-plan-trip {
    padding: 1.7% 6% 1.8% 4%;
    border-radius: 30px;
    border: 2px solid white;
    background-color: #193028;
    color: white;
    position: relative;
    right: 0;
    margin-top: 1%;
}

.a-plan-trip:hover {
    border: none;
}

#nav-bar .logo {
    display: none;
}

header {
    background-color: #2d483f;
    width: 100%;
    height: 40rem;
}

header h1 {
    font-size: 4.3rem;
    font-weight: 500;
}

header h2 {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 1.5% 0;
}


/* MAIN STYLING */
.inactive {
    display: none;
}

nav {
    margin: 0 3% 7%;
}


/* CONSIDER SECTION STYLING */
.consider-txt {
    margin: 4% auto;
    text-align: center;
    width: 75%;
}

#consider img {
    margin-top: -2rem;
    width: 17%;
    height: 23rem;
}

.consider-txt h2 {
    font-size: 3.2rem;
    margin: 2% auto;
}

.consider-txt p {
    font-size: 1.7rem;
}


/* TIPS SECTION STYLING */
#tips .tips-a .brown::before {
    content: "\2B22";
    color: #8a623f;
    font-size: 29rem;
}

#tips .tips-a .darkgreen::before {
    content: "\2B22";
    color: #193028;
    font-size: 29rem;
}

#tips .tips-a .lightgreen::before {
    content: "\2B22";
    color: #326d59;
    font-size: 29rem;
}

#tips .poly-e::before {
    content: "\2B22";
    color: #193028;
    font-size: 29rem;
}

#tips .poly-f::before, #tips .poly-d::before {
    content: "\2B22";
    color: #8a623f;
    font-size: 29rem;
}

#tips h3 {
    font-size: 1.6rem;
    margin: 4%;
}

#tips p, #tips li {
    font-size: 1.2rem;
}

#tips .tips-b {
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 1%;
    top: -21rem;
}

.poly-d {
    position: relative;
    right: -2.6rem;
}

.poly-e {
    position: relative;
    right: 0.9rem;
}

.tips-c {
    margin: -42rem auto -15%;
}

#tips-img {
    width: 38%;
    position: relative;
    top: -18rem;
    right: 20rem;
}

.poly-a-txt {
    color: white;
    width: 70%;
    position: absolute;
    top: 39%;
    right: 15%;
}

.poly-b-txt {
    color: white;
    width: 70%;
    position: absolute;
    top: 41%;
    right: 14.5%;
}

.poly-c-txt {
    color: white;
    width: 68%;
    position: absolute;
    top: 38%;
    right: 14%;
}

.poly-d-txt {
    position: absolute;
    color: white;
    width: 69%;
    position: absolute;
    top: 44%;
    right: 13.6%;
}

.poly-e-txt {
    position: absolute;
    color: white;
    width: 70%;
    position: absolute;
    top: 37%;
    right: 13%;
}

.poly-f-txt {
    position: absolute;
    color: white;
    width: 65%;
    position: absolute;
    top: 38%;
    right: 15%;
}


/* SECURITY SECTION STYLING */
#security .security-txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    border-left: 1px dashed white;
}

.security-txt-a, .security-txt-b, .security-txt-c {
    width: 95%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    padding: 4% 2%;
    text-align: left;
    border-radius: 10px;
}

#security h3 {
    font-size: 1.7rem;
    margin: 2% 0;
}

#security p {
    font-size: 1.2rem;
}

.first-security-img {
    width: 77%;
    height: 40rem;
}

.second-security-img {
    margin: 3% 5% 0;
}
