* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", serif;
    /* background-color: yellow; */
}


/* HEADER STYLING */
header h1 {
    text-align: center;
    font-size: 2.8rem;
    position: absolute;
    top: 33%;
    right: 10%;
    color: white;
}
