* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", serif;
    /* background-color: yellow; */
}

/* HEADER STYLING */
header img{
    width: 100%;
    height: 40rem;
    position: relative;
}

header .header-overlay {
    width: 100%;
    height: 40rem;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
}

header h1 {
    text-align: center;
    font-size: 3.5rem;
    position: absolute;
    top: 36%;
    right: 13%;
    color: white;
}


/* POPULAR ATTRACTIONS SECTION STYLING */
.p-attractions-img {
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
    height: 46rem;
}

.p-attractions-one-a {
    height: 23.5rem;
}

.p-attractions-two {
    width: 50.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p-attractions-two-b img {
    height: 22.5rem;
}

.p-attractions-two-a #img-a, .p-attractions-two-a #img-b {
    width: 48.1%;
    height: 22rem;
}

.p-attractions-one-b, .a-three-img-b {
    height: 21rem;
}


/* ALL ATTRACTIONS SECTIONS STYLING */
.a-c-attractions-a, .a-c-attractions-b, .a-c-attractions-c, .beach-img-a, .beach-img-b, .beach-img-c, .museum-img-a, .museum-img-b, .museum-img-c, .adventure-img-a, .adventure-img-b, .adventure-img-c, .hiking-img-a, .hiking-img-b, .hiking-img-c, .park-img-a, .park-img-b, .park-img-c {
    background-color: #183028;
    width: 32%;
    border-radius: 15px;
    height: 21.5rem;
    color: white;
    position: relative;
}

.a-c-attractions-a img, .a-c-attractions-b img, .a-c-attractions-c img, .beach-img-a img, .beach-img-b img, .beach-img-c img, .museum-img-a img, .museum-img-b img, .museum-img-c img, .adventure-img-a img, .adventure-img-b img, .adventure-img-c img, .hiking-img-a img, .hiking-img-b img, .hiking-img-c img, .park-img-a img, .park-img-b img, .park-img-c img {
    display: block;
    width: 90%;
    margin: 4.5% auto;
    border-radius: 10px;
    height: 15rem;
}

.a-c-attractions-img h1, .beach-img h1, .museum-img h1, .adventure-img h1, .hiking-img h1, .park-img h1 {
    font-size: 1.2rem;
}

.a-c-attractions-img p, .beach-img p, .museum-img p, .adventure-img p, .hiking-img p, .park-img p {
    font-size: 1.1rem;
}
