* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", serif;
    /* background-color: yellow; */
}


/* HEADER STYLING */
#nav-bar {
    padding: 2.5% 1.5%;
    border-radius: 50px;
    z-index: 3;
    width: 80%;
    left: 10%;
}

#nav-bar img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 3.5rem;
    margin: 0 2%;
    border-radius: 20px;
}

#nav-bar .logo p {
    position: relative;
    top: 1.1rem;
    font-size: 1.1rem;
}

#nav-bar ul a {
    width: 20%;
    text-decoration: none;
    position: relative;
    padding: 1.5%;
    font-size: 1.7rem;
    color: #2B2B2B;
}

.a-plan-trip {
    font-size: 1.7rem;
    padding: 1.95% 7% 1.9% 4%;
    border-radius: 30px;
    background-color: #193028;
    color: white;
    position: relative;
    right: -3.5%;
}

header h1 {
    position: absolute;
    top: 46%;
    right: 12%;
    font-size: 5rem;
}
