* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2B2B2B;
    font-family: "Hanken Grotesk", serif;
}



html {
    font-size: 62.5%;
}


/* HEADER SECTION STYLING */
#nav-bar {
  padding: 2.5% 2.5% 2.5% 3%;
  border-radius: 50px;
  z-index: 3;
  width: 70%;
  margin: 5% auto;
  height: 6rem;
  background-color: white;
  color: #2B2B2B;
  position: absolute;
  left: 15%;
  display: flex;
  align-items: center;
  position: fixed;
}

#nav-bar a {
  text-decoration: none;
}

#nav-bar img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 4rem;
  margin: 0 2%;
  border-radius: 20px;
}

#nav-bar li a {
  font-size: 1.8rem;
}

#nav-bar .logo {
  width: 20%;
  display: flex;
}

#nav-bar .logo p {
  position: relative;
  top: 1.2rem;
  font-size: 1.4rem;
}

#nav-bar ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-bar ul li {
  list-style-type: none;
}

#nav-bar ul a {
  width: 20%;
  text-decoration: none;
  position: relative;
  padding: 1.5%;
  color: #2B2B2B;
}

#nav-bar ul a:hover {
  color: #2D493f;
  border-bottom: 3px solid #2D493f;
}

.a-plan-trip {
  font-size: 2rem;
  padding: 1.7% 6% 1.8% 4%;
  border-radius: 30px;
  background-color: #193028;
  color: white;
  position: relative;
  right: -6.5%;
}

header img {
    width: 100%;
}


/* MAIN SECTION STYLING */
main {
    width: 90%;
    margin: 0 auto;
}

nav ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

.nav-one {
    width: 68%;
    margin: 3% 0 5%;
}

.nav-one li {
    padding: 1.2% 2.5%;
    border-radius: 20rem;
}

.nav-one li .active-li {
    padding: 1.3rem 2.5rem;
    color: white;
    background-color: #193028;
    border-radius: 20rem;
}

.nav-one .inactive:hover {
    padding: 1.3rem 2.5rem;
    background-color: #193028;
    color: white;
}

.nav-one .inactive-a:hover {
    color: white;
}

.nav-two {
    width: 27%;
    margin: 5% 2%;
}

.nav-two a {
    color: #2B2B2B;
}

.nav-two .faded-li {
    color: rgb(91, 91, 91);
}

.nav-two li:hover {
    color: #2B2B2B;
    border-bottom: 4px solid #193028;
}



/* MAIN TRIPS SECTION STYLING */
#my-trips-main {
    width: 57%;
    margin: 1% auto 5%;
    padding: 2% 1.7% 5%;
    background-color: #fbfbfb;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
}

.transparent-bkg {
    background-color: transparent;
    border-color: #EAEAEA;
}

.transparent-bkg:hover {
    background-color: #193028;
    color: white;
}

#my-trips-main .btns {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 2% 0 4%;
}

#my-trips-main .btns input {
    padding: 2% 4%;
    font-size: 1.8rem;
    border-radius: 20rem;
    border: none;
}

#my-trips-main .btns input:hover {
    cursor: pointer;
}

.active-btn {
    padding: 1.5% 3.5%;
    color: white;
    background-color: #193028;
    border-radius: 20rem;
    border: none;
}

.solid-li {
    padding-bottom: 2%;
    border-bottom: 4px solid #193028;
}

.new-trip input {
    width: 31%;
    margin: 1% 0 3%;
    padding: 2% 3% 2% 5%;
    border: 2px solid black;
    border-radius: 8px;
    border: none;
    font-size: 1.6rem;
    background-color: transparent;
    border: 1px solid #EAEAEA;
}

.new-trip input:hover {
    cursor: pointer;
}

.new-trip i {
    font-size: 1.4rem;
    position: relative;
    right: -2.6rem;
}

.trip-option {
    margin: 2% 1%;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    padding: 2% 1.5%;
    display: flex;
    justify-content: space-between;
}

.trip-option img {
    width: 45%;
}

.trip-option .alert {
    color: #52A88A;
    margin: 6% 3% 0;
    position: relative;
    font-size: 1.3rem;
}

.fa-info {
    position: relative;
    top: 0.7rem;
}

.a-txt, .b-txt, .c-txt {
    width: 50%;
}

.header-a, .header-b, .header-c {
    padding: 2% 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-a h1, .header-b h1, .header-c h1 {
    font-size: 1.8rem;
    margin: 1% 0;
}

.trip-option p, .trip-option p, .trip-option p {
    font-size: 1.4rem;
    margin: 1% 3%;
}

.header-a i, .header-b i, .header-c i {
    font-size: 1.4rem;
}

.date-a, .date-b, .date-c, .location-a, .location-b, .location-c,
.disclaimer-a, .disclaimer-b, .disclaimer-c {
    display: flex;
    align-items: center;
}

.trip-option i {
    font-size: 1.4rem;
}
