* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: yellow; */
}

/* HEADER STYLING */
.mobile-nav {
    display: block;
}

.fa-bars {
    display: block;
    position: absolute;
    top: 1.8rem;
    right: 2rem;
    color: white;
    font-size: 2.8rem;
    z-index: 3;
}

.fa-bars:hover {
    cursor: pointer;
}

/* #nav-bar {
    display: none;
} */

#nav-bar {
    display: flex;
    flex-direction: column;
}

#nav-bar ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header ul li a {
    font-size: 1.8rem;
    color: white;
}


header ul li {
    margin: 2% auto;
    color: white;
}

#nav-bar {
    padding: 2% 2% 2% 3%;
    border-radius: 0;
    z-index: 3;
    width: 100%;
    margin: 4% auto;
    height: 26rem;
    background-color: #2d483f;
    color: white;
    position: absolute;
    left: 0;
    top: 2rem;
    display: none;
}

#nav-bar.show {
    display: flex;
    width: 100%;
}


.a-plan-trip {
    padding: 1.7% 6% 1.8% 4%;
    border-radius: 30px;
    border: 2px solid white;
    background-color: #193028;
    color: white;
    position: relative;
    right: 0;
    margin-top: 1%;
}

.a-plan-trip:hover {
    border: none;
}

#nav-bar .logo {
    display: none;
}


#main-nav .inactive, #sub-nav .inactive-sub {
    display: none;
}

#sub-nav .active-sub {
    position: relative;
    left: -12%;
}

.search .fa-magnifying-glass {
    position: relative;
    top: 0.2rem;
    font-size: 1.6rem;
    right: 1.5rem;
}

#accommodation-img .img-one-d, #accommodation-img .img-two .img-two-d, #accommodation-img .img-three-d, #accommodation-img .img-four-d,
#accommodation-img .img-five-d {
    display: none;
}

.img-one-a, .img-one-b, .img-one-c {
    width: 27%;
}

.img-two-a, .img-two-b, .img-two-c {
    width: 27%;
}

.img-three-a, .img-three-b, .img-three-c {
    width: 27%;
}

.img-four-a, .img-four-b, .img-four-c {
    width: 27%;
}

.img-five-a, .img-five-b, .img-five-c {
    width: 27%;
}
