* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2B2B2B;
    font-family: "Hanken Grotesk", serif;
    /* background-color: yellow; */
}

#main-nav .active-main {
    position: relative;
    right: 39%;
}

/* MAIN STYLING */
/* OVERVIEW SECTION STYLING */
#overview {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2%;
    border: 1px solid grey;
    border-radius: 20px;
    width: 94%;
}

#overview h2 {
    margin: 3% 0;
    font-size: 1.6rem;
}

#overview div p {
    font-size: 1.12rem;
}
